@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --primary-color:#3804bd;
    --primary-color-dark:#f60a0a;
    --text-dark: #262626;
    --text-light: #e5e5e5;
    --white: #ffffff;
    --max-width: 1200px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section_container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.section_header{
    max-width: 900px;
    margin-inline: auto;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--text-dark);
    text-align: center;
    
}

.section_container h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.section_header span {
    color: var(--primary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section_description {
    max-width: 600px;
    margin-inline: auto;
    color: var(--text-dark);
    line-height: 1.75rem;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.offer_container p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.offer_container h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.offer_card p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn{
    padding: 1rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 99px;
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--primary-color-dark);
    box-shadow: 2px 2px 10px rgba(7, 7, 7, 0.5);
}

.logo{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
}

.logo span{
    color: #ff0000;
}

.nav_logo a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    display: flex;
    width: 100%;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

ul{
    list-style: none;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: "poppins", sans-serif;
}

nav{
    position: fixed;
    isolation: isolate;
    width: 100%;
    max-width: var(--max-width);
    margin-inline: auto;
    z-index: 9;
}

.nav_header {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--text-light);
}

.nav_menu_btn {
    font-size: 1.5rem;
    color: var(--text-dark);
    cursor: pointer;
}

.nav_links{
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--text-light);
    transition: .5s;
    z-index: -1;
   transform: translateY(-100%); 
}

.nav_links.open {
    transform: translateY(0);
}

.nav_links a {
    font-weight: 500;
    color: var(--text-dark);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav_links a:hover {
    color: var(--primary-color-dark);
}

.header_container {
    position: relative;
    isolation: isolate;
    overflow: hidden;
}

.header_container h2 {
    max-width: fit-content;
    margin-inline: auto;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.9rem;
    font-weight: 600;
    color: #fa6021;
    background-color: #fff8f5;
    border-radius: 5rem;
}

.header_container h2 img{
    max-width: 25px
}

.header_container h1 {
    margin-bottom: 1rem;
    font-size: 4rem;
    font-weight: 700;
    color: var(--text-dark);
    text-align: center;
    line-height: 5.5rem;
}

.header_container h1 span {
    color: var(--primary-color);
}

.header_container p {
    margin-bottom: 2rem;
    max-width: 600px;
    margin-inline: auto;
    color: black;
    line-height: 2rem;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.header_btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.header_btns a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-dark);
}

.header_btns a span {
    padding: 5px 11px;
    font-size: 1.5rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 100%;
    transition: 0.3s;

}

.header_btns a:hover span {
    box-shadow: 2px 2px 10px rgba(220, 8, 202, 0.585);
}

.header_container > img {
    position: absolute;
    max-width: 40px;
    padding: 7px;
    border-radius: 100%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    z-index: -1;
}

.header_container > img:nth-child(1) {
    top: 75%;
    left: 15%;
    transform: translate( -50%);
}

.header_container > img:nth-child(2) {
    top: 20%;
    left: 3rem;
    transform: translateY(-50%);
}

.header_container > img:nth-child(3) {
    top: 49%;
    right: 15%;
    transform: translate( -50%);
}

.header_container > img:nth-child(4) {
    top: 20%;
    right: 15%;
    transform: translate(-50%, -50%);
}


.header_container > img:nth-child(5) {
    top: 75%;
    right: 1rem;
    transform: translate(-50%);
}
.header_container > img:nth-child(6) {
    top: 40%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.steps_grid {
    margin-top: 4rem;
    display: grid;
    gap: 1rem;
}

.steps_card {
    padding: 1rem;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.steps_card span {
    display: inline-block;
    margin-bottom: 1rem;
    padding: 5px 11px;
    font-size: 1.5rem;
    border-radius: 100%;
}

.steps_card:nth-child(1) span {
    color: #fc0505;
    background-color: #fff9f6;
}

.steps_card:nth-child(2) span {
    color: #6a38c2;
    background-color: #e9ddff;
}

.steps_card:nth-child(3) span {
    color: #3ac2ba;
    background-color: #f0fffe;
}

.steps_card:nth-child(4) span {
    color: #fbbc09;
    background-color: #fff8e3;
}

.steps_card h4{
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-dark);

}

.steps_card p{
    color: var(--text-dark);
    
}

.explore_grid {
    margin-block: 4rem;
    display: grid;
    gap: 1rem;
}

.explore_card{
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.explore_card:hover{
    background-color: var(--primary-color);
}

.explore_card span{
    display: inline-block;
    margin-bottom: 1rem;
    padding: 5px 11px;
    font-size: 1.5rem;
    border-radius: 5px;
    transition: 0.3s;
}

.explore_card:nth-child(1) span{
    color: #f04a0c;
    background-color: #f6efef;
}

.explore_card:nth-child(2) span{
    color: #0c36f0;
    background-color: #f6efef;
}

.explore_card:nth-child(3) span{
    color: #17f00c;
    background-color: #f6efef;
}

.explore_card:nth-child(4) span{
    color: #f00c0c;
    background-color: #f6efef;
}

.explore_card:nth-child(5) span{
    color: #0caff0;
    background-color: #f6efef;
}

.explore_card:nth-child(6) span{
    color: #f0f00c;
    background-color: #f6efef;
}

.explore_card:nth-child(7) span{
    color: #ec0cf0;
    background-color: #f6efef;
}

.explore_card:hover span{
    color: var(--white);
    background-color: #000000;

}

.explore_card h4{
    margin-bottom: .5rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-dark);
    transition: .3s;
    text-decoration: underline;
}

.explore_card:hover h4{
    color: hwb(0 83% 15%);
}



.explore_card:hover p{
    color: var(--white);
}

.explore_card p{
    color: var(--text-dark);
    transition: 0.3s;
    
}

.explore_btn{
    text-align: center;
}

.job_grid{
    margin-top: 3rem;
    display: grid;
    gap: 1rem;
   
}

.job_card a{
    color: var(--text-dark);
}

.job_card{
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.job_card:hover{
    background-color: rgb(143, 140, 140);
}

.job_card_header{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.job_card_header li, ul{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.job_card img{
    max-width: 50px;
    padding: 10px;
    border-radius: 100%;
    background-color: var(--white);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1)

}

.job_card h5{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-dark);
    transition: 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.job_card h6{
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--text-light);
    transition: 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.job_card_link h5{
    color: rgb(0, 0, 0);

}

.job_card_link h3{
    color: #000000;
}

.job_card_link li{
    color: var(--text-dark);
}



.job_card h4{
    margin-block: 1rem 0,5rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-dark);
    transition: 0.3s;
    text-decoration: underline var(--text-dark);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.job_card p{
    margin-bottom: 1rem;
    color: var(--text-dark);
    transition: 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.job_card h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.job_card_footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.job_card_footer span{
    display: inline-block;
    padding: 4px 10px;
    font-size: 0.8rem;
    font-weight: 500;
    border-radius: 5px;
    transition: 0.3s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.job_card_footer span:nth-child(1) {
    color: #0a55d7;
    background-color: #e5e5e5;
}

.job_card_footer span:nth-child(2) {
    color: #b70505;
    background-color: #e5e5e5;
}

.job_card_footer span:nth-child(3) {
    color: #08e92a;
    background-color: #e5e5e5;
}

.job_card_footer span:nth-child(4) {
    color: #ffa200;
    background-color: #e5e5e5;
}

.job_card_footer span:nth-child(5) {
    color: #0ac6d7;
    background-color: #e5e5e5;
}

.job_card:hover :is(h5, ){
    color: var(--text-dark);
}

.job_card:hover h4{
    color: var(--text-dark);
}

.job_card:hover h4 a{
    color: var(--primary-color-dark);
}

.job_card:hover a{
    color: var(--text-dark);
}

.job_card:hover :is(h3 ){
    color: var(--text-light);
}

.job_card:hover :is(h6){
    color: var(--white);
}

.offer_grid{
    margin-top: 4rem;
    display: grid;
    gap: 2rem 1rem;
}

.offer_card img{
    margin-bottom: 1rem;
    border-radius: 5px;
}

.offer_details {
    display: flex;
    align-items: flex-start;
}

.offer_details span{
    font-size: 2rem;
    font-weight: 800;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--text-dark);
    padding-right: 1rem;
}

.offer_details div{
    padding-left: 1rem;
    border-left: 2px solid var(--primary-color);
}

.offer_details h4{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-dark);
}

.offer_details p{
    color: rgb(158, 158, 158);
}

.footer_container{
    display: grid;
    gap: 4rem 2 rem;
}

.footer_logo{
    margin-bottom: 2rem;
}

.footer_col p{
    max-width: 400px;
    color: rgb(64, 64, 64);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer_col h4 {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}



.footer_links a{
    color: var(--primary-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer_links a:hover{
    color: var(--primary-color-dark);
}

.footer_links a span{
    font-size: 1.25rem;
}

.footer_links i{
    color: var(--primary-color);
    
}

.footer_links i:hover{
    color: var(--primary-color-dark);
}

.footer_bar{
    padding: 1rem;
    font-size: 0.9rem;
    color: rgb(89, 88, 88);
    text-align: center;
}

@media (width > 540px) {
    .steps_grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .explore_grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .job_grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .offer_grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .offer_container{
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (width > 768px) {
    nav {
        position: static;
        padding: 2rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;

    }

    .nav_header{
        padding: 0;
        background-color: transparent;
    }

    .nav_menu_btn {
        display: none;
    }

    .nav_links{
        position: static;
        padding: 0;
        flex-direction: row;
        justify-content: flex-end;
        background-color: transparent;
        transform: none;
    }

    .steps_grid {
    margin-top: 6rem;
    grid-template-columns: repeat(4, 1fr);
}

.steps_card:nth-child(2n 1){
    transform: translateY(2rem);
 }
 .explore_grid{
    grid-template-columns: repeat(2, 1fr);
  }
 .offer_grid{
    grid-template-columns: repeat(2, 1fr);
 }
 .job_grid{
    grid-template-columns: repeat(3, 1fr);
 }
 .footer_container{
    grid-template-columns: repeat(5, 1fr);
 }
 .footer_col:nth-child(1){
    grid-column: 1/3;
 }
}


@media (width > 1024px) {}
    .steps_card{
        padding: 1.5rem;
    }
    .explore_card{
        padding: 1.5rem;
    }
